services:
  app:
    container_name: geosoftware_1_projekt
    build: .
    ports:
      - '4000:3000'
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/geosoftware_I
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev # Use 'npm start' for production

  mongo:
    container_name: mongo
    image: mongo:6
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
      - ./mongo-init/:/docker-entrypoint-initdb.d/:ro

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - '8085:8081'
    depends_on:
      - mongo
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true

volumes:
  mongo-data:
