header {
  position: sticky;
  top: 0;
  z-index: 1000;
} 

footer {
  position: sticky;
  bottom: 0;
  z-index: 1000;
} 

header nav.navbar {
  background-color: #e2e2e2;
}

footer {
  background-color: #e2e2e2;
}
