/* Spaltenbreite f체r L채nge */
#tour-table-body td:nth-child(3) {
    width: 150px;        
    text-align: left;
}

/* Spaltenbreite f체r Dauer */
#tour-table-body td:nth-child(4) {
    width: 150px;        
    text-align: left;
}


/* Spaltenbreite f체r Buttons */
#tour-table-body td:nth-child(5) {
    width: 150px;        
    text-align: center;
}

#tour-table-body td:last-child img {
    margin-right: 5px;
}
